@import '../../styles/utilities.scss';
.infoUser {
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100vh;
    h3 {
        span {
            font-size: $bigSize;
            text-align: center;
            font-family: $mainFont;
            color: $secondColor;
            font-weight: bold;
            margin: 0;
        }
        max-height: 17vh;
        text-align: center;
        color: white;
        font-size: 2em;
        font-weight: normal;
    }
    h1 {
        font-weight: bold;
        color: $thirdColor;
        text-align: center;
        margin: 17.5vh 0 0 0;
    }
}