header {
    max-height: 124px;
}
.logo {
    width: 70px;
    margin: 3% 0 0 6%;
    &:hover {
        filter: brightness(1.2);
    } 
}
.logo__header {
    width: 70px;
    margin: 0 0 0 72px; 
    &:hover {
        filter: brightness(1.2);
    } 
}
@media (max-width: 768px) {
    .logo {
        width: 60px;
    } 
}
@media (max-width: 425px) {
    .logo {
        width: 50px;
        margin: 8% 0 0 6%;
    }
    .logo__header {
        width: 50px;
        margin: 8% 0 0 8%;
    }
}