.career {
    display: flex;
    .career__img {
        margin-top: 16vh;
        margin-left: 10.7%;
        height: 62vh;
      }
    .career_panels{
      width: 33%;
      margin-left: 10%;
    }
}

