$firstColor:#4C437E;
$secondColor:#F3CDE0;
$thirdColor:#DC397A;
$inputColor: #ffedf6;
$textColor: #7D7D7D;
$mainFont: 'PT Sans', sans-serif;
$secondFont: 'Open Sans', sans-serif;
$bigSize: 36px;
$extraBig: 80px;