@import '../../../styles/utilities.scss';

#expansion {
    margin-bottom: 4vh;
    color: #FFFFFF;        
    .expansion-heading{
        font-size: 26px;
        font-weight: 600;
        font-family: "PT Sans", sans-serif;
        text-align: left;
    }
    .level__panel{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        font-size: 18px;
        margin: 1vh 0 1vh 3%;
        &:first-child {
            margin: 0;
            background-color: $thirdColor;
            color: white;
            text-align: center;
            max-width: 20%;
            font-weight: bold;
        }
    }
    .expansion-p{
        margin: 1vh 0 1vh 5.4%;
        text-align: left;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }    
}
.MuiAccordionSummary-root {
    background: $firstColor 0% 0% no-repeat padding-box !important;
    box-shadow: -2px 2px 6px $secondColor !important;
    border: 1px solid $secondColor !important;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
    &:hover {
        background-color: $thirdColor !important;
    }
    &:focus {
        background-color: $thirdColor !important;
    }
}
.MuiPaper-elevation1 {
    box-shadow: none !important;
}
.MuiSvgIcon-root{
    width: 2.2em !important;
    height: 3em !important;
    color: $secondColor;
    position: absolute;
}
.MuiIconButton-edgeEnd {
    margin-right: 25px !important;
}
.MuiAccordionDetails-root {
    padding: 0 !important;
    border: 1px solid $thirdColor;
    border-radius: 5px;
    background: $inputColor 0% 0% no-repeat padding-box;
    box-shadow: -2px 2px 6px $thirdColor;
    color: $textColor;    
    position: absolute;
    z-index: 3;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}
.MuiAccordionSummary-content{
    margin: 10px 0px !important;
}
.MuiTypography-body1 {
    font-family: $secondFont;
    padding: 0 !important;
}