@import '../../styles/utilities.scss';
h1 {
    font-family: $mainFont;
    font-size: $bigSize;
    color: $firstColor;
    margin:0;
}
.welcome {
    max-height: 50.3vh;
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}