@import '../../styles/utilities.scss';
h1 {
    font-family: $mainFont;
    font-size: $bigSize;
    color: $firstColor;
}
.welcome {
    width: 55%;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}