@import '../../../styles/utilities.scss';

#expansion {
    margin-bottom: 5vh;
    color: #FFFFFF;        
    .expansion-heading{
        font-size: 26px;
        font-weight: 600;
        font-family: "PT Sans", sans-serif;
    }
    .expansion-p{
        font-size: 18px;
    }
}
.MuiAccordionSummary-root {
    background: $firstColor 0% 0% no-repeat padding-box !important;
    box-shadow: -2px 2px 6px $secondColor !important;
    border: 1px solid $secondColor !important;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}
.MuiPaper-elevation1 {
    box-shadow: none !important;
}
.MuiSvgIcon-root{
    width: 3em !important;
    height: 3em !important;
    color: #F3CDE0;
    position: absolute;
}
.MuiIconButton-edgeEnd {
    margin-right: 25px !important;
}
.MuiAccordionDetails-root {
    border: 1px solid #DC397A;
    border-radius: 5px;
    background: #FFEDF6 0% 0% no-repeat padding-box;
    box-shadow: -2px 2px 6px #DC397A;
    color: #7D7D7D;    
    position: absolute;
    z-index: 3;
    width: 93%;
}