@import '../../styles/utilities.scss';
.keyPeople {
    align-items: center;
    padding: 0 10.4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 54vh;
    background-color: $inputColor;
}
.keyPeople__title {
    color: $firstColor;
    margin: 0 0 4vh 16%;
    font-weight: bold;
}