@import '../../../styles/utilities.scss';

.MuiBox-root {
    background-color: $inputColor;
}
div{
    .makeStyles-root-1 {
        width: 100%;
        background-color: $inputColor;
    }
}
.tag__img {
    width: 22%;
    border-radius: 100%;
}
span.MuiTab-wrapper {
    font-family: $secondFont;
    font-size: 1.5em;
    text-transform: capitalize;
    &:hover {
        color:white;
        text-decoration: underline;
    }
}
.MuiTabs-flexContainer {
    background-color: $firstColor;
    height: 8.8vh;
}
.MuiTypography-body1 {
    padding: 2vh 0;
    text-align: center;
    width: 100%;
}
span.PrivateTabIndicator-colorSecondary-4 {
    background-color: $thirdColor;
    height: 5px;
}